.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__column {
  font-size: 20px;
}

.main .friends {
  background-color: red;
}
