.friends__friend {
  margin-top: 10px;
  margin-bottom: 30px;
}

.friends__header {
  /* padding: 20px 0px; */
  border-bottom: 3px solid #f7f7f7;
  margin: 5px 0px;
}

.birthday__friends {
  padding-top: 20px;
  border-bottom: 3px solid #f7f7f7;
  margin: 5px 0px;
}

.best__frineds {
  padding: 20px 10px;
  border-bottom: 3px solid #f7f7f7;
  margin: 5px 0px;
}

.recommend__frineds {
  padding: 20px 10px;
  border-bottom: 3px solid #f7f7f7;
  margin: 5px 0px;
}

.channel__friends {
  padding: 20px;
  border-bottom: 3px solid #f7f7f7;
  margin: 5px 0px;
}
