.top-title {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.top-title__icon {
  align-items: center;
  margin-left: 30px;
  font-size: 25px;
}

.top-title__column {
  display: flex;
  align-items: center;
}
